<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marcelljee.hackernews">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.marcelljee.hackernews.HackerNewsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${crashlyticsKey}" />

        <activity android:name="com.marcelljee.hackernews.activity.ToolbarActivity" />
        <activity android:name="com.marcelljee.hackernews.activity.WebToolbarActivity" />
        <activity android:name="com.marcelljee.hackernews.activity.FragmentActivity" />
        <activity android:name="com.marcelljee.hackernews.screen.news.item.ItemActivity" />

        <activity
            android:name="com.marcelljee.hackernews.screen.news.NewsActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.marcelljee.hackernews.screen.news.item.ItemActivity$StoryActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.marcelljee.hackernews.screen.news.NewsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marcelljee.hackernews.screen.news.NewsActivity" />
        </activity>

        <activity
            android:name="com.marcelljee.hackernews.screen.news.item.ItemActivity$CommentActivity"
            android:parentActivityName="com.marcelljee.hackernews.screen.news.item.ItemActivity$StoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marcelljee.hackernews.screen.news.item.ItemActivity$StoryActivity" />
        </activity>

        <activity
            android:name="com.marcelljee.hackernews.screen.news.item.text.DetailsTextActivity"
            android:label="@string/title_activity_details_text"
            android:parentActivityName="com.marcelljee.hackernews.screen.news.item.ItemActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marcelljee.hackernews.screen.news.item.ItemActivity" />
        </activity>

        <activity
            android:name="com.marcelljee.hackernews.screen.user.UserActivity"
            android:parentActivityName="com.marcelljee.hackernews.screen.news.NewsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marcelljee.hackernews.screen.news.NewsActivity" />
        </activity>

        <activity
            android:name="com.marcelljee.hackernews.screen.web.WebActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.marcelljee.hackernews.screen.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.marcelljee.hackernews.screen.news.NewsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marcelljee.hackernews.screen.news.NewsActivity" />
        </activity>

        <activity
            android:name="com.marcelljee.hackernews.screen.about.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="com.marcelljee.hackernews.screen.news.NewsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marcelljee.hackernews.screen.news.NewsActivity" />
        </activity>

        <activity
            android:name="com.marcelljee.hackernews.widget.NewsWidgetConfigureActivity"
            android:label="@string/title_activity_news_widget_configure"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.marcelljee.hackernews.receiver.CopyReceiver"
            android:exported="false" />

        <receiver android:name="com.marcelljee.hackernews.widget.NewsWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/news_widget_info" />
        </receiver>

        <provider
            android:name=".database.DatabaseContentProvider"
            android:authorities="com.marcelljee.hackernews.database.AUTHORITY"
            android:exported="true" />

        <service
            android:name="com.marcelljee.hackernews.database.DatabaseUpdaterService"
            android:exported="false" />

        <service
            android:name="com.marcelljee.hackernews.widget.NewsWidgetUpdaterService"
            android:exported="false" />

        <service
            android:name="com.marcelljee.hackernews.widget.NewsWidgetItemService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>
</manifest>